/* GameRoom.css */

.game-room-container {
 /* background: linear-gradient(to top, #292E49, #536976); */
 /* background: linear-gradient(to bottom, #004e92, #000428); */
 /* background: linear-gradient(to top, #360033, #0b8793); */
 /* background-color: red !important; 
 */
 background:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), black),
 url('https://i.pinimg.com/564x/40/bc/09/40bc094a2610ca3ab305487a0b8c47cf.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
    text-align: center;
    width: 100% !important;
    height: 100dvh;
    overflow: hidden;
}

.score-display {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 7px;
    overflow: hidden;
}

.player-score {
    background-color: #f0f0f0;
    padding: 10px;
    /* border-radius: 8px; */
}

.move-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.game-over-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 8px;
}

/* GameRoom.css */

.game-room-container {
    /* Add any other styling you need for the game room container */

    /* Example background color for the game room */
    background-color: #f0f0f0;
    padding: 20px;
}

.score-display>* {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.score-display {
    /* gap: 10px; */
    display: flex;
    justify-content: space-between;

}

.player-score p {
    margin: 0;
    text-transform: uppercase;
}

.player-score {
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ccc; */
    background-color: #fff;
}

.player-score.highlight {
    /* Add any highlighting styles, for example, changing background color */
    background-color: #97e46a;
    /* Light green background */
}

.ball-ct {
    margin: 15px 0;
    /* border: 1px solid rgb(227, 227, 227); */
    border-radius: 11px;
    box-shadow: 0 0px 12px 1px rgba(7, 7, 7, 0.5);
    overflow: hidden;
    background: #40404034;
    backdrop-filter: blur(10px);
}

.move-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 0;
    margin-top: 20px;
}

.ball-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.3);
}

.ball-btn {
    color: #fff !important;
    border: none;
    padding: 30px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    outline: none !important;
    width: 100px;
    height: 100px;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.3),
    0 0 10px rgba(255, 255, 255, 0.2) inset;
    /* background: linear-gradient(45deg, #ffffff44, #ddd); */
    transition: all 0.2s ease-in-out;
}
/* 
.ball-btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1),
        0 0 30px rgba(255, 255, 255, 0.9) inset;
} */

.game-over-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffd2d2;
    /* Light red background */
}

.change-turn-btn .bt {
    display: none;
}
.change-turn-btn {
    width: 100% !important;
    border-radius: 0px;
    outline: none !important;
    border: none;
    font-size: 1.2rem;
    padding: 20px !important;
    margin-top: 20px;
    padding: 12px !important;
    height: fit-content;
}
.hidden {
    display: none;
}

.score-display big {
    font-size: 1.3rem;
    font-weight: 600;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1.5rem;
    margin: 7.5px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 7.5px 0;
    margin-bottom: 25px;
}

.score-display p {
    font-size: 1.1rem;
    font-weight: 500;
}
.ball-btn .bt {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    mix-blend-mode: soft-light;
    /* color: rgb(47, 25, 14); */
}
.foul-modal h3 {
    font-size: 1.2rem !important;
    /* margin-bottom: 25px; */
}

.foul-modal {
    /* padding-top: 25px; */
    background: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 12px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
}

.fl-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    /* margin-bottom: 25px; */
}

.close-btn {
    border: none !important;
    outline: none !important;
    height: 25px;
    width: 25px;
    display: grid;
    border-radius: 50%;
    place-items: center;
    /* padding: 8px; */
    background: crimson;
    font-size: 0.8rem;
    cursor: pointer;
    /* width: 25%; */
    color: #fff;

}