/* Add some global styles for better appearance */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Game Setup Page styles */
.game-setup-container>* {
    width: 100%;
    height: fit-content !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #252525;
    padding: 20px;
}
.game-setup-container {
    max-width: 100%;
    padding: 20px;
    height: 100vh;
    /* height: 100vh; */
    display: grid;
    place-items: center;
    /* margin: 50px auto; */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.input-container {
    margin-bottom: 15px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .game-setup-container {
        max-width: 100%;
        padding: 15px;
    }
}
.ww-btn {
    width: 100%;
}