/* Add some global styles for better appearance */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box-w-lb h1 {
    font-weight: bold;
}

#box-w-lb h3 {
    font-weight: lighter;
    color: #9a9a9a;
    font-size: 1.3rem;
}

#box-w-lb {}

#box-w-lb {
    width: 100%;
    height: fit-content !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* border: 2px solid #252525; */
    padding: 40px 25px;
    background: #fff;
    border-radius: 15px 15px 0 0;
}
.game-setup-container {
    max-width: 100%;
    height: 100dvh;
    overflow: scroll;
    display: flex;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent, black),
    url('../../../public/imgs/rs.jpeg');
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-color: #fff;
}

.input-container {
    margin-bottom: 15px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .game-setup-container {
        max-width: 100%;
        /* padding: 15px; */
    }
}
.ww-btn {
    width: 100%;
    background:#6D31EDFF;
    padding: 12.5px;
}
.foul-modal {
    background: #fff;
    color: #252525;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fls>* {
    width: 50%;
    /* flex: 1; */
    padding: 12.5px;
    outline: none;
    border: none;
    color: #fff;
}

.fls {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
}

.fl-4 {
    background: gray;
}

.fl-5 {
    background: rgb(52, 52, 255);
}

.fl-6 {
    background: rgb(213, 55, 192);
}

.fl-7 {
    background: rgb(22, 22, 22);
}